body {
    font-family: Georgia, serif;
    height: 100%;
    background: url('Assets/Background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.imgpad {
    padding: 10px;
}

.imgpad img {
    border: 1px solid white;
}

.imgpad h4 {
    color: white;
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
}

.imgpad p {
    color: white;
    font-size: 15px;
    text-align: center;
}

.imgpad a {
    color: white;
    font-size: 17px;
}

.bio {
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin-top: 5rem;
}

.mechimg img {
    cursor: pointer;
    border: 2px solid white;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    width: 75%;
    border-top: 1px solid rgba(255, 255, 255, 1);
}

h2,
h4 {
    text-align: center;
    color: white;
}

.buynow {
    color: white;
    font-size: 15px;
    text-align: center;
    font-weight: bold;
    margin-top: 1rem;
}

.buynow a {
    color: white;
}

.photos {
    height: 150px;
    padding: 0px;
}

.photos:hover .title {
    visibility: hidden;
    opacity: 0;
    transition-duration: 0.2s;
    transition-timing-function: linear;
}

.photos a {
    position: absolute;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

.title {
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: absolute;
    line-height: 150px;
    color: white;
    font-size: 22px;
    text-align: center;
    visibility: visible;
    opacity: 1;
}

.footer-copyright {
    text-align: center;
    color: white;
    font-size: 16px;
}

.photo-gallery img {
    cursor: pointer;
    border: 1px solid white;
}

.figure {
    margin: 10px;
}

.figure img {
    cursor: pointer;
    height: 180px;
    width: 180px;
    border: 1px solid white;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.9);
}

.modal-content {
  margin: auto;
  display: block;
  height: 100%;
  width: 100%;
  max-width: 700px;
}

.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

.close {
  position: fixed;
  top: 50px;
  right: 50px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #bbb;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}