body {
    background: url('Assets/Background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.imgpad {
    padding: 10px;
    margin-top: 40px;
}

.imgpad img {
    border: 1px solid white;
}

.imgpad h4 {
    color: white;
    font-size: 18px;
    text-align: center;
    margin-top: 10px;
}

.imgpad p {
    color: white;
    font-size: 14px;
    text-align: center;
}

.imgpad a {
    color: white;
}

hr {
    margin-top: 0rem;
    margin-bottom: 0rem;
    border: 0;
    width: 75%;
    border-top: 1px solid rgba(255, 255, 255, 1);
}

h2 {
    text-align: center;
    color: white;
}
