body {
    height: 100%;
    background: url('Assets/Background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.imgpad {
    padding: 10px;
}

.imgpad img {
    border: 1px solid white;
}

.imgpad h4 {
    color: white;
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
}

.imgpad p {
    color: white;
    font-size: 15px;
    text-align: center;
}

.imgpad a {
    color: white;
    font-size: 17px;
}

.bio {
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin-top: 5rem;
}

.mechimg img {
    border: 2px solid white;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    width: 75%;
    border-top: 1px solid rgba(255, 255, 255, 1);
}

h2,
h4 {
    text-align: center;
    color: white;
}

.buynow {
    color: white;
    font-size: 15px;
    text-align: center;
    font-weight: bold;
    margin-top: 1rem;
}

.buynow a {
    color: white;
}

.photos-gallery {
}

.photos {
}

.photos h4 {
    position: absolute;
    color: white;
    top: 25%;
    left: 50%;
    transform: translate( -50%, -50% );
    text-align: center;
    color: white;
}